:root {
  --color-white: #fff;
  --color-black: #000;
  --color-blue-100: #35b9ed;
  --color-blue-400: #1889f2;
  --color-blue-400-05: #1889f282; // 0.51 opacity
  --color-blue-700: #0c5394;
}

// Variables:
$default-sides-padding: 14px;
$default-font-color: var(--color-black);
$default-font-weight: 700;
$default-font-size: 0.9rem;
$default-bg-color: var(--color-white);
$page-width: 390px;
$page-height: 850.75px;

$mainBlue: var(--color-blue-100);

$bgBlue: var(--color-blue-700);

$loader--width: 250px;
$loader-dot--size: 20px;
