@import "_mixin";
@import "_variables";
//@import "./venueScreen";
// Page -
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  background-image: linear-gradient(#0c5394 20%, #1889f2, #35b9ed);
}
body::-webkit-scrollbar {
  display: none;
}

.navbar {
  width: 100%;
  background-color: $bgBlue;
  @include bottomShadow;

  &__savedTickets {
    cursor: pointer;
    float: right;
    margin-top: 55px;
    margin-right: 30px;
    background-color: $mainBlue;
    border: none;
    @include mainBoxShadow;
    padding-top: 3px;
  }
}

// Header -
.header {
  width: 100%;
  height: 600px;
  position: relative;
  overflow: hidden;
}

.image-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.image-container.active {
  opacity: 1;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-container.left {
  transform: translateX(-100%);
}

.image-container.right {
  transform: translateX(100%);
}

.header.fade-in .image-container {
  transition: opacity 0.5s ease-in-out, transform 0.5s 0.5s ease-in-out;
}

.header.fade-in .image-container.active {
  transform: translateX(0);
}

.header::before,
.header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 20%;
  z-index: 200;
}

.header::before {
  top: 0;
  background: linear-gradient(-180deg, #0c5394, transparent);
}

.header::after {
  bottom: 0;
  background: linear-gradient(0deg, #0c5394, transparent);
}

// Search -
.search {
  @include flex-vertical();
  width: 715px;
  height: 125px;
  background-color: var(--color-blue-400);
  margin: auto;
  border-radius: 10px;
  @include mainBoxShadow;
  margin-bottom: 25px;

  &__header {
    font-weight: 700;
    font-size: 32px;
    color: var(--color-white);
  }

  &__search_groups {
    @include flex-horizontal();
    gap: 30px;
  }

  &__btn {
    width: 155px;
    height: 37px;
    border-radius: 10px;
    border: none;
    padding: 0;
    @include bottomShadow;
    background-color: transparent;
    font-size: 20px;
    font-weight: 700;

    &:hover {
      background-color: var(--color-blue-700);
    }
  }

  &__secondary-search {
    display: none;
    width: 800px;
    background-color: var(--color-blue-400-05);

    &--visible {
      @include flex-vertical();
    }

    &--invisible {
      display: none;
    }
  }
}

// movie cards -
.movieCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 50px;
  margin: 0 auto;
  max-width: 1200px;
  padding: 50px;
}

.movieCard {
  position: relative;
  @include mainCardSize(300px, 450px, 10px);
  transform-style: preserve-3d;

  &:hover .movieImage {
    transform: rotateY(180deg);
  }

  &:hover .movieDetails {
    transform: rotateY(0);
  }

  .movieImage,
  .movieDetails {
    position: absolute;
    @include mainCardSize(300px, 450px, 10px);
    @include mainBoxShadow;
    backface-visibility: hidden;
    transition: transform 1s ease-in-out;
  }

  .movieImage {
    img {
      @include mainCardSize(300px, 450px, 10px);
    }
  }
}

.movieDetails {
  transform: rotateY(180deg);
  @include mainCardSize(300px, 450px, 10px);
  background-color: $mainBlue;
  font-weight: bold;
  padding: 10px;

  &__movieName {
    font-size: 30px;
  }

  &__movieDescription {
    padding: 10px 0;
    font-size: 15px;
    text-align: center;
  }

  p {
    font-size: 15px;
    margin-bottom: 2px;
  }

  &__moreInfo {
    padding: 5px;
  }

  &__moviePageButton {
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
    width: 90%;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    background-color: $bgBlue;
    border: none;
    border-radius: 10px;
    @include bottomShadow;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }

  &__moviePageButton:hover {
    transform: scale(105%);
  }

  &__hours-container {
    display: grid;
    height: 100px;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;
    grid-gap: 10px;
  }

  &__hour {
    background-color: #0c1f42;
    border-radius: 10px;
    width: 118px;
    height: 40px;
    @include grid-center();
    color: white;
    text-decoration: none;
    font-size: x-large;
    -webkit-text-stroke: 1px #35b9edc0;
  }
}

#trailerBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 35px;
  background-color: rgb(182, 11, 11);
  color: white;
  border: none;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

#trailerBtn:hover {
  transform: scale(120%);
}

.movieDetails__hours-container::-webkit-scrollbar {
  width: 0.8em;
}

.movieDetails__hours-container::-webkit-scrollbar-track {
  background: #1e2f97;
  border-radius: 100vw;
  margin-block: 0.2em;
}

.movieDetails__hours-container::-webkit-scrollbar-thumb {
  background: #1aa7ec;
  border: 0.15em solid #1e2f97;
  border-radius: 100vw;
}

.movieDetails__hours-container::-webkit-scrollbar-thumb:hover {
  background: #4adede;
}

.trailer_container {
  background-color: #80808091;
  position: fixed;
  z-index: 200;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__exitBox {
    position: relative;
  }

  &-exit {
    position: absolute;
    top: 20px;
    right: 20px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
  }

  &-exitBtn {
    font-size: 30px;
    font-weight: bold;
  }

  &-exit:hover {
    transform: scale(150%);
    font-weight: bolder;
  }

  &-content {
    background-color: #35b9eda8;
    width: 700px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 15px 14px 20px 0px;
  }
}

// VIP Button -
.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.vipButton {
  background-color: transparent;
  border: none;
  position: relative;
  transition: all 0.5s ease-in-out;

  &__first,
  &__second,
  &__third,
  &__forth {
    position: absolute;
    color: white;
    letter-spacing: 2px;
    transform: rotate(9deg);
  }

  &__first {
    font-size: 20px;
    word-spacing: 70px;
    top: 305px;
    left: 120px;
  }

  &__second {
    font-size: 40px;
    letter-spacing: 3px;
    top: 335px;
    left: 160px;
  }

  &__third {
    font-size: 20px;
    top: 400px;
    left: 140px;
  }

  &__forth {
    font-size: 20px;
    top: 470px;
    left: 80px;
    transform: rotate(5deg);
  }
}

.vipButton:hover {
  transform: scale(110%);
}
