@import "_mixin.scss";
@import "_variables.scss";
@import "./venueScreen";
// Page -
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  background-color: $bgBlue;
}

.navbar {
  width: 100%;
  background-color: $bgBlue;
  @include bottomShadow;

  &__savedTickets {
    cursor: pointer;
    float: right;
    margin-top: 55px;
    margin-right: 30px;
    background-color: $mainBlue;
    border: none;
    @include mainBoxShadow;
    padding-top: 3px;
  }
}

.zia-logo {
  height: 100px;
  width: 170px;
}

// Search -
.search {
  @include flex-vertical();
  width: 715px;
  height: 125px;
  background-color: var(--color-blue-400);
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 3px 5px 0px;
  margin-bottom: 25px;

  &__header {
    font-weight: 700;
    font-size: 32px;
    color: var(--color-white);
  }

  &__search_groups {
    @include flex-horizontal();
    gap: 30px;
  }

  &__btn {
    width: 155px;
    height: 37px;
    border-radius: 10px;
    padding: 0;
    border: 2px solid var(--color-black);
    background-color: transparent;
    font-size: 20px;
    font-weight: 700;

    &:hover {
      background-color: var(--color-blue-700);
    }
  }

  &__secondary-search {
    display: none;
    width: 800px;
    background-color: var(--color-blue-400-05);

    &--visible {
      @include flex-vertical();
    }
  }
}

.dropDownTest {
  background-color: red;
}

// movie cards -
.movieCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
}

.movieCard {
  position: relative;
  @include mainCardSize(300px, 450px, 10px);
  transform-style: preserve-3d;

  &:hover .movieImage {
    transform: rotateY(180deg);
  }

  &:hover .movieDetails {
    transform: rotateY(0);
  }

  .movieImage,
  .movieDetails {
    position: absolute;
    @include mainCardSize(300px, 450px, 10px);
    @include mainBoxShadow;
    backface-visibility: hidden;
    transition: transform 1s ease-in-out;
  }

  .movieImage {
    img {
      @include mainCardSize(300px, 450px, 10px);
    }
  }

  .movieDetails {
    transform: rotateY(180deg);
    @include mainCardSize(300px, 450px, 10px);
    background-color: $mainBlue;
    font-weight: bold;
    padding: 10px;

    &__movieName {
      font-size: 30px;
    }

    &__movieDescription {
      padding: 20px 0;
      font-size: 15px;
      text-align: center;
    }

    p {
      font-size: 15px;
      margin-bottom: 2px;
    }

    &__moviePageButton {
      position: absolute;
      bottom: 15px;
      left: 15px;
      right: 15px;
      width: 90%;
      text-decoration: none;
      color: white;
      font-size: 15px;
      font-weight: bold;
      text-align: center;
      padding: 5px;
      background-color: $bgBlue;
      border: none;
      border-radius: 10px;
      @include bottomShadow;
      cursor: pointer;
      transition: all 0.5s ease-in-out;
    }

    &__moviePageButton:hover {
      transform: scale(105%);
    }

    &__trailerButton {
      background-color: transparent;
      border: none;
    }
  }

  #trailerBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 35px;
    background-color: rgb(182, 11, 11);
    color: white;
    border: none;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
  }

  #trailerBtn:hover {
    transform: scale(120%);
  }
}
