@import "_mixin.scss";
@import "_variables.scss";
@import "./venueScreen";
// Page -
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  background-color: $bgBlue;
}
body::-webkit-scrollbar {
  display: none;
}

.navbar {
  width: 100%;
  background-color: $bgBlue;
  @include bottomShadow;

  &__savedTickets {
    cursor: pointer;
    float: right;
    margin-top: 55px;
    margin-right: 30px;
    background-color: $mainBlue;
    border: none;
    @include mainBoxShadow;
    padding-top: 3px;
  }
}

// Header -
header {
  position: relative;
  width: 100%;
  height: 600px;
  background: no-repeat center center/cover;
  transition: 1s linear;
  z-index: 2;
}

header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 30%;
  background: linear-gradient(180deg, $bgBlue, transparent);
  top: 0;
  z-index: -1;
}

header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 30%;
  background: linear-gradient(180deg, transparent, $bgBlue);
  bottom: 0;
  z-index: -1;
}

// Search -
.search {
  @include flex-vertical();
  width: 715px;
  height: 125px;
  background-color: var(--color-blue-400);
  margin: auto;
  border-radius: 10px;
  @include mainBoxShadow;
  margin-bottom: 25px;

  &__header {
    font-weight: 700;
    font-size: 32px;
    color: var(--color-white);
  }

  &__search_groups {
    @include flex-horizontal();
    gap: 30px;
  }

  &__btn {
    width: 155px;
    height: 37px;
    border-radius: 10px;
    border: none;
    padding: 0;
    @include bottomShadow;
    background-color: transparent;
    font-size: 20px;
    font-weight: 700;

    &:hover {
      background-color: var(--color-blue-700);
    }
  }

  &__secondary-search {
    display: none;
    width: 800px;
    background-color: var(--color-blue-400-05);

    &--visible {
      @include flex-vertical();
    }
  }
}

.dropDownTest {
  background-color: red;
}

// movie cards -
.movieCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 50px;
  margin: 0 auto;
  max-width: 1200px;
  padding: 50px;
}

.movieCard {
  position: relative;
  @include mainCardSize(300px, 450px, 10px);
  transform-style: preserve-3d;

  &:hover .movieImage {
    transform: rotateY(180deg);
  }

  &:hover .movieDetails {
    transform: rotateY(0);
  }

  .movieImage,
  .movieDetails {
    position: absolute;
    @include mainCardSize(300px, 450px, 10px);
    @include mainBoxShadow;
    backface-visibility: hidden;
    transition: transform 1s ease-in-out;
  }

  .movieImage {
    img {
      @include mainCardSize(300px, 450px, 10px);
    }
  }

  .movieDetails {
    transform: rotateY(180deg);
    @include mainCardSize(300px, 450px, 10px);
    background-color: $mainBlue;
    font-weight: bold;
    padding: 10px;

    &__movieName {
      font-size: 30px;
    }

    &__movieDescription {
      padding: 20px 0;
      font-size: 15px;
      text-align: center;
    }

    p {
      font-size: 15px;
      margin-bottom: 2px;
    }

    &__moviePageButton {
      position: absolute;
      bottom: 15px;
      left: 15px;
      right: 15px;
      width: 90%;
      text-decoration: none;
      color: white;
      font-size: 15px;
      font-weight: bold;
      text-align: center;
      padding: 5px;
      background-color: $bgBlue;
      border: none;
      border-radius: 10px;
      @include bottomShadow;
      cursor: pointer;
      transition: all 0.5s ease-in-out;
    }

    &__moviePageButton:hover {
      transform: scale(105%);
    }

    &__trailerButton {
      background-color: transparent;
      border: none;
    }
  }

  #trailerBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 35px;
    background-color: rgb(182, 11, 11);
    color: white;
    border: none;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
  }

  #trailerBtn:hover {
    transform: scale(120%);
  }
}

.trailer_container {
  background-color: #80808091;
  position: fixed;
  z-index: 200;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__exitBox {
    position: relative;
  }

  &-exit {
    position: absolute;
    top: 20px;
    right: 20px;
    transition: all 0.5s ease-in-out;
  }

  &-content {
    background-color: #35b9eda8;
    width: 700px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 15px 14px 20px 0px;
  }
}

.x-icon {
  &:hover {
    // filter: invert(49%) sepia(119%) saturate(1257%) hue-rotate(222deg)
    //   brightness(170%) contrast(177%);
    transform: scale(150%);
    cursor: pointer;
  }
}

// VIP Button -
.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.vipButton {
  background-color: transparent;
  border: none;
  position: relative;
  transition: all 0.5s ease-in-out;

  &__first,
  &__second,
  &__third,
  &__forth {
    position: absolute;
    color: white;
    letter-spacing: 2px;
    transform: rotate(9deg);
  }

  &__first {
    font-size: 20px;
    word-spacing: 70px;
    top: 305px;
    left: 120px;
  }

  &__second {
    font-size: 40px;
    letter-spacing: 3px;
    top: 335px;
    left: 160px;
  }

  &__third {
    font-size: 20px;
    top: 400px;
    left: 140px;
  }

  &__forth {
    font-size: 20px;
    top: 470px;
    left: 80px;
    transform: rotate(5deg);
  }
}

.vipButton:hover {
  transform: scale(110%);
}
