@import "_mixin";
@import "_variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  background-color: white;
}
body::-webkit-scrollbar {
  display: none;
}

.navbar {
  width: 100%;
  background-color: $bgBlue;
  @include bottomShadow;

  &__nav {
    display: flex;
    width: 95px;
    height: 35px;
    margin: 20px 0 0 20px;
    padding: 5px;
    box-shadow: 3px 3px 5px rgb(63, 63, 63);
    background-color: #0c4173;
    border-radius: 10px;
    text-decoration: none;
    color: yellow;
    transition: all 0.5s ease-in-out;

    p {
      font-size: 20px;
      letter-spacing: 3px;
      margin-top: -2px;
    }
  }
}

.screening {
  @include flex-horizontal();
  padding: 14px 60px 14px 0;

  &__movie-img {
    height: 150px;
    border-radius: 10px;
    padding-right: $default-sides-padding;
  }

  &__text-container {
    @include flex-vertical();
    justify-content: space-between;
    align-items: flex-start;
    padding-right: $default-sides-padding;
    padding-bottom: 5px;
    height: 150px;
    letter-spacing: 2px;
  }

  &__text-container__title {
    font-weight: 700;
    font-size: xx-large;
    color: var(--color-white);
    margin: 0;
  }

  &__text-container__details {
    font-weight: 400;
    font-size: large;
    color: var(--color-white);
    margin: 0;
  }
}

.title {
  @include grid-center;
  margin-bottom: 15px;

  &__text {
    font-size: 3rem;
  }
}

.venue {
  &__line {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 20px;
  }

  &__seat,
  &__seat--taken {
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 2px 5px black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    cursor: pointer;
  }

  &__seat--taken {
    cursor: not-allowed;
    background-color: rgb(110, 110, 110);
    color: white;
  }
}

.selection-explained {
  width: 200px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 30px;

  &__gray-seat,
  &__green-seat {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }

  &__gray-seat {
    background-color: rgb(110, 110, 110);
    margin: 2px 5px 0 0;
  }

  &__green-seat {
    background-color: rgb(150, 247, 140);
    margin: 2px 5px 0 0;
  }

  &__text {
    margin-right: 50px;
  }
}

.venue_view {
  margin-bottom: 50px;
}

.venue-container {
  .seat-error-message {
    display: none;
    text-align: center;
  }
}
.order-container {
  display: flex;
  align-items: center;
  justify-content: center;

  &__order-btn {
    height: 40px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    margin-bottom: 30px;
    background-color: $bgBlue;
    border: none;
    border-radius: 30px;
    @include bottomShadow;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(105%);
    }
  }
}

.credit-form {
  border: 2px solid black;
  width: 350px;
  margin: 0 auto;
  display: none;
}

.ticket {
  span {
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
  }

  span:hover {
    transform: scale(140%);
    font-weight: bolder;
  }
}
