@import "_mixin";
@import "_variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  background-color: white;
}
body::-webkit-scrollbar {
  display: none;
}

.navbar {
  width: 100%;
  background-color: $bgBlue;
  @include bottomShadow;

  &__nav {
    display: flex;
    width: 95px;
    height: 35px;
    margin: 20px 0 0 20px;
    padding: 5px;
    box-shadow: 3px 3px 5px rgb(63, 63, 63);
    background-color: #0c4173;
    border-radius: 10px;
    text-decoration: none;
    color: yellow;
    transition: all 0.5s ease-in-out;

    p {
      font-size: 20px;
      letter-spacing: 3px;
      margin-top: -2px;
    }
  }
}

.screening {
  @include flex-horizontal();
  padding: 14px 60px 14px 0;

  &__movie-img {
    height: 150px;
    border-radius: 10px;
    padding-right: $default-sides-padding;
  }

  &__text-container {
    @include flex-vertical();
    justify-content: space-between;
    align-items: flex-start;
    padding-right: $default-sides-padding;
    padding-bottom: 5px;
    height: 150px;
    letter-spacing: 2px;
  }

  &__text-container__title {
    font-weight: 700;
    font-size: xx-large;
    color: var(--color-white);
    margin: 0;
  }

  &__text-container__details {
    font-weight: 400;
    font-size: large;
    color: var(--color-white);
    margin: 0;
  }
}

.venuePageFull {
  position: relative;
}

.title {
  @include grid-center;

  &__text {
    font-size: 3rem;
  }
}

.venue {
  &__line {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 20px;
  }

  &__seat,
  &__seat--taken {
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 2px 5px black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    cursor: pointer;
  }

  &__seat--taken {
    cursor: not-allowed;
    background-color: rgb(110, 110, 110);
    color: white;
  }
}

.selection-explained {
  width: 200px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 30px;

  &__gray-seat,
  &__green-seat {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }

  &__gray-seat {
    background-color: rgb(110, 110, 110);
    margin: 2px 5px 0 0;
  }

  &__green-seat {
    background-color: rgb(150, 247, 140);
    margin: 2px 5px 0 0;
  }

  &__text {
    margin-right: 50px;
  }
}

.venue_view {
  margin-bottom: 80px;
}

.seat-error-message {
  display: none;
  text-align: center;
  letter-spacing: 3px;
  color: red;
  text-shadow: 2px 2px 5px rgb(66, 66, 66);
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: -50px;
}

.order-container {
  display: flex;
  align-items: center;
  justify-content: center;

  &__order-btn {
    height: 40px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    margin-bottom: 30px;
    background-color: $bgBlue;
    border: none;
    border-radius: 30px;
    @include bottomShadow;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(105%);
    }
  }
}

.notNumberError {
  text-align: center;
  font-size: 16px;
  padding: 0 20px;
  letter-spacing: 2px;
  color: rgb(178, 15, 15);
  text-shadow: 3px 3px 5px rgb(90, 90, 90);
  display: none;
}

legend {
  text-align: center;
  font-size: 40px;
  color: white;
}

.credit-form {
  @include popupCenter;
  background-color: #1889f2f0;
  z-index: 200;
  border-radius: 20px;
  width: 400px;
  text-align: center;
  margin-bottom: 30px;
  display: none;

  &__lable {
    margin: 15px 0 5px 0;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
  }

  &__input,
  &__cardNumber,
  &__month,
  &__year {
    width: 170px;
    text-align: center;
    background-color: #eff7ffc3;
    border: none;
    border-radius: 5px;
  }

  &__month,
  &__year {
    width: 30px;
    text-align: center;
  }

  &__slash {
    font-size: 20px;
    font-weight: bolder;
  }

  &__submit {
    padding: 2px 10px;
    margin: 30px;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    transition: all 0.5s ease-in-out;
  }

  &__submit:hover {
    transform: scale(110%);
  }

  input {
    color: rgb(160, 160, 31);
  }
}

.ticket {
  position: relative;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 600px;
  height: 550px;
  background-color: white;

  &__TImage {
    @include popupCenter;
    width: 700px;
  }

  &__exit {
    position: absolute;
    top: 80px;
    right: 0;
    color: red;
    cursor: pointer;
  }

  &__image {
    position: absolute;
    top: 170px;
    left: 150px;
    z-index: 900;

    img {
      width: 100px;
      height: 150px;
      border-radius: 10px;
    }
  }

  &__name,
  &__screenDate1,
  &__screenTime1,
  &__cinema,
  &__screenDate2,
  &__screenTime2,
  &__labelVenue,
  &__labelLine,
  &__labelSeats,
  &__label,
  &__venue,
  &__seats,
  &__line {
    position: absolute;
    z-index: 900;
  }

  &__name {
    top: 170px;
    left: 250px;
    font-size: 23px;
    text-align: center;
    width: 200px;
  }

  &__cinema {
    top: 210px;
    left: 250px;
    text-align: center;
    font-size: 18px;
    width: 200px;
  }

  &__screenDate1 {
    top: 260px;
    left: 360px;
  }

  &__screenTime1 {
    top: 285px;
    left: 375px;
  }

  &__scan1 {
    position: absolute;
    top: 250px;
    right: 260px;
    z-index: 900;
    width: 80px;
  }

  &__screenDate2 {
    rotate: 90deg;
    top: 200px;
    left: 85px;
  }

  &__screenTime2 {
    rotate: 90deg;
    top: 270px;
    left: 98px;
  }

  &__labelVenue,
  &__labelLine,
  &__labelSeats {
    rotate: 90deg;
  }

  &__labelVenue {
    top: 180px;
    left: 60px;
  }

  &__labelLine {
    top: 230px;
    left: 66px;
  }

  &__labelSeats {
    top: 280px;
    left: 63px;
  }

  &__venue,
  &__line,
  &__seats {
    rotate: 90deg;
    text-align: center;
    left: 20px;
  }

  &__venue {
    width: 40px;
    top: 180px;
  }

  &__line {
    width: 60px;
    top: 240px;
  }

  &__seats {
    width: 60px;
    top: 300px;
  }

  &__scan2 {
    position: absolute;
    top: 185px;
    right: 10px;
    rotate: -90deg;
    z-index: 900;
    width: 130px;
  }

  &__mailMessage {
    position: absolute;
    bottom: 120px;
    left: 50%;
    transform: translate(-50%);
    color: green;
  }
}
